<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nography | expose</title>
</head>
<body>

<h1>nography</h1>

<a href="/hide">hide message</a> - <a href="/expose">expose message</a>
<br><br>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required>
    <br><br>
    <input type="submit" value="Expose">
</form>

<br>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

{% if exposed_message %}
    <p>Exposed message:</p>
    <code style="margin-left: 50px; font-size: 16px;">
        {{ exposed_message }}
    </code>
{% endif %}

</body>
</html>