<!doctype html>
<title>nography</title>

<h1>nography</h1>
<form>
	<input placeholder="secret message" name="secret"><br><br>
	<textarea style="height: 20em; width: 30em;"
		name="placeholder">In a hole in the ground there lived a hobbit. Not a nasty, dirty, wet hole, filled with the ends of worms and an oozy smell, nor yet a dry, bare, sandy hole with nothing in it to sit down on or to eat: it was a hobbit-hole, and that means comfort.</textarea>
	<br><br>
	<button>
		Hide
	</button>
	<p>
		{% if error %}
		{{ error }}
		{% endif %}
	</p>
</form>

</html>